/*
    Sprite pixels extracted from
    https://github.com/richi3f/pokemon-team-planner/blob/master/static/style.css
*/

#canvas {
    width: 350px;
    max-width: 100%;
    height: auto;
}

#circle{
    margin: 2px;
}

.menu-sprite{
    background-image:url('../../public/Pictures/Games/sprites.png');
    width:1.875em;
    height:1.875em;
    margin:0 0.3125em
}
.menu-sprite.pokemon0{background-position:-210px -210px}
.menu-sprite.pokemon1{background-position:-30px 0}
.menu-sprite.pokemon2{background-position:-60px 0}
.menu-sprite.pokemon3{background-position:-120px 0}
.menu-sprite.pokemon4{background-position:-90px 0}
.menu-sprite.pokemon5{background-position:-150px 0}
.menu-sprite.pokemon6{background-position:-180px 0}
.menu-sprite.pokemon7{background-position:-250px 0}
.menu-sprite.pokemon8{background-position:-290px 0}
.menu-sprite.pokemon9{background-position:-210px 0}
.menu-sprite.pokemon10{background-position:-330px 0}
.menu-sprite.pokemon11{background-position:-360px 0}
.menu-sprite.pokemon12{background-position:-420px 0}
.menu-sprite.pokemon13{background-position:-390px 0}
.menu-sprite.pokemon14{background-position:-450px 0}
.menu-sprite.pokemon15{background-position:-480px 0}
.menu-sprite.pokemon16{background-position:-510px 0}
.menu-sprite.pokemon17{background-position:-540px 0}
.menu-sprite.pokemon18{background-position:-570px 0}
.menu-sprite.pokemon19{background-position:-420px -840px}
.menu-sprite.pokemon20{background-position:-600px 0}
.menu-sprite.pokemon21{background-position:-630px 0}
.menu-sprite.pokemon22{background-position:-660px 0}
.menu-sprite.pokemon23{background-position:-860px -810px}
.menu-sprite.pokemon24{background-position:-690px 0}
.menu-sprite.pokemon25{background-position:-360px -930px}
.menu-sprite.pokemon26{background-position:-720px 0}
.menu-sprite.pokemon27{background-position:-390px -930px}
.menu-sprite.pokemon28{background-position:-750px 0}
.menu-sprite.pokemon29{background-position:-780px 0}
.menu-sprite.pokemon30{background-position:-810px 0}
.menu-sprite.pokemon31{background-position:-840px 0}
.menu-sprite.pokemon32{background-position:-870px 0}
.menu-sprite.pokemon33{background-position:0 -30px}
.menu-sprite.pokemon34{background-position:-810px -900px}
.menu-sprite.pokemon35{background-position:-30px -30px}
.menu-sprite.pokemon36{background-position:-260px -870px}
.menu-sprite.pokemon37{background-position:-60px -30px}
.menu-sprite.pokemon38{background-position:-840px -900px}
.menu-sprite.pokemon39{background-position:-90px -30px}
.menu-sprite.pokemon40{background-position:-210px -30px}
.menu-sprite.pokemon41{background-position:-240px -30px}
.menu-sprite.pokemon42{background-position:-270px -30px}
.menu-sprite.pokemon43{background-position:-120px -30px}
.menu-sprite.pokemon44{background-position:-150px -30px}
.menu-sprite.pokemon45{background-position:-180px -30px}
.menu-sprite.pokemon46{background-position:-390px -30px}
.menu-sprite.pokemon47{background-position:-420px -30px}
.menu-sprite.pokemon48{background-position:-290px -870px}
.menu-sprite.pokemon49{background-position:-450px -30px}
.menu-sprite.pokemon50{background-position:-320px -870px}
.menu-sprite.pokemon51{background-position:-480px -30px}
.menu-sprite.pokemon52{background-position:-510px -30px}
.menu-sprite.pokemon53{background-position:-540px -30px}
.menu-sprite.pokemon54{background-position:-570px -30px}
.menu-sprite.pokemon55{background-position:-600px -30px}
.menu-sprite.pokemon56{background-position:-630px -30px}
.menu-sprite.pokemon57{background-position:-660px -30px}
.menu-sprite.pokemon58{background-position:-690px -30px}
.menu-sprite.pokemon59{background-position:-720px -30px}
.menu-sprite.pokemon60{background-position:-750px -30px}
.menu-sprite.pokemon61{background-position:-780px -30px}
.menu-sprite.pokemon62{background-position:-810px -30px}
.menu-sprite.pokemon63{background-position:-870px -900px}
.menu-sprite.pokemon64{background-position:-840px -30px}
.menu-sprite.pokemon65{background-position:-900px -900px}
.menu-sprite.pokemon66{background-position:-870px -30px}
.menu-sprite.pokemon67{background-position:-930px -900px}
.menu-sprite.pokemon68{background-position:0 -60px}
.menu-sprite.pokemon69{background-position:0 -930px}
.menu-sprite.pokemon70{background-position:-30px -60px}
.menu-sprite.pokemon71{background-position:-60px -60px}
.menu-sprite.pokemon72{background-position:-90px -60px}
.menu-sprite.pokemon73{background-position:-120px -60px}
.menu-sprite.pokemon74{background-position:-150px -60px}
.menu-sprite.pokemon75{background-position:-180px -60px}
.menu-sprite.pokemon76{background-position:-210px -60px}
.menu-sprite.pokemon77{background-position:-240px -60px}
.menu-sprite.pokemon78{background-position:-270px -60px}
.menu-sprite.pokemon79{background-position:-300px -60px}
.menu-sprite.pokemon80{background-position:-330px -60px}
.menu-sprite.pokemon81{background-position:-360px -60px}
.menu-sprite.pokemon82{background-position:-390px -60px}
.menu-sprite.pokemon83{background-position:-310px -30px}
.menu-sprite.pokemon84{background-position:-420px -60px}
.menu-sprite.pokemon85{background-position:-450px -60px}
.menu-sprite.pokemon86{background-position:-480px -60px}
.menu-sprite.pokemon87{background-position:-510px -60px}
.menu-sprite.pokemon88{background-position:-540px -60px}
.menu-sprite.pokemon89{background-position:-570px -60px}
.menu-sprite.pokemon90{background-position:-600px -60px}
.menu-sprite.pokemon91{background-position:-630px -60px}
.menu-sprite.pokemon92{background-position:-30px -930px}
.menu-sprite.pokemon93{background-position:-660px -60px}
.menu-sprite.pokemon94{background-position:-60px -930px}
.menu-sprite.pokemon95{background-position:-690px -60px}
.menu-sprite.pokemon96{background-position:-90px -930px}
.menu-sprite.pokemon97{background-position:-720px -60px}
.menu-sprite.pokemon98{background-position:-750px -60px}
.menu-sprite.pokemon99{background-position:-780px -60px}
.menu-sprite.pokemon100{background-position:-810px -60px}
.menu-sprite.pokemon101{background-position:-450px -840px}
.menu-sprite.pokemon102{background-position:-840px -60px}
.menu-sprite.pokemon103{background-position:-870px -60px}
.menu-sprite.pokemon104{background-position:0 -90px}
.menu-sprite.pokemon105{background-position:-30px -90px}
.menu-sprite.pokemon106{background-position:-60px -90px}
.menu-sprite.pokemon107{background-position:-90px -90px}
.menu-sprite.pokemon108{background-position:-120px -90px}
.menu-sprite.pokemon109{background-position:-150px -90px}
.menu-sprite.pokemon110{background-position:-420px -930px}
.menu-sprite.pokemon111{background-position:-180px -90px}
.menu-sprite.pokemon112{background-position:-450px -930px}
.menu-sprite.pokemon113{background-position:-210px -90px}

.menu-sprite.pokemon114{background-position:-240px -90px}
.menu-sprite.pokemon115{background-position:-270px -90px}
.menu-sprite.pokemon116{background-position:-300px -90px}
.menu-sprite.pokemon117{background-position:-330px -90px}

.menu-sprite.pokemon118{background-position:-350px -30px}
.menu-sprite.pokemon119{background-position:-360px -90px}
.menu-sprite.pokemon120{background-position:-390px -90px}
.menu-sprite.pokemon121{background-position:-420px -90px}
.menu-sprite.pokemon122{background-position:-450px -90px}
.menu-sprite.pokemon123{background-position:-480px -90px}
.menu-sprite.pokemon124{background-position:-510px -90px}
.menu-sprite.pokemon125{background-position:-540px -90px}
.menu-sprite.pokemon126{background-position:-570px -90px}
.menu-sprite.pokemon127{background-position:-600px -90px}
.menu-sprite.pokemon128{background-position:-350px -870px}
.menu-sprite.pokemon129{background-position:-630px -90px}
.menu-sprite.pokemon130{background-position:-660px -90px}
.menu-sprite.pokemon131{background-position:-120px -930px}
.menu-sprite.pokemon132{background-position:-690px -90px}
.menu-sprite.pokemon133{background-position:-720px -90px}
.menu-sprite.pokemon134{background-position:-750px -90px}
.menu-sprite.pokemon135{background-position:-780px -90px}
.menu-sprite.pokemon136{background-position:-810px -90px}
.menu-sprite.pokemon137{background-position:-840px -90px}
.menu-sprite.pokemon138{background-position:-870px -90px}
.menu-sprite.pokemon139{background-position:0 -120px}
.menu-sprite.pokemon140{background-position:-30px -120px}
.menu-sprite.pokemon141{background-position:-60px -120px}
.menu-sprite.pokemon142{background-position:-120px -120px}
.menu-sprite.pokemon143{background-position:-90px -120px}
.menu-sprite.pokemon144{background-position:-150px -120px}
.menu-sprite.pokemon145{background-position:-180px -120px}
.menu-sprite.pokemon146{background-position:-210px -120px}
.menu-sprite.pokemon147{background-position:-240px -120px}
.menu-sprite.pokemon148{background-position:-270px -120px}
.menu-sprite.pokemon149{background-position:-300px -120px}
.menu-sprite.pokemon150{background-position:-330px -120px}
.menu-sprite.pokemon151{background-position:-360px -120px}
.menu-sprite.pokemon152{background-position:-390px -120px}
.menu-sprite.pokemon153{background-position:-420px -120px}
.menu-sprite.pokemon154{background-position:-450px -120px}
.menu-sprite.pokemon155{background-position:-510px -120px}
.menu-sprite.pokemon156{background-position:-480px -120px}
.menu-sprite.pokemon157{background-position:-630px -120px}
.menu-sprite.pokemon158{background-position:-660px -120px}
.menu-sprite.pokemon159{background-position:-720px -120px}
.menu-sprite.pokemon160{background-position:-690px -120px}
.menu-sprite.pokemon161{background-position:-750px -120px}
.menu-sprite.pokemon162{background-position:-780px -120px}
.menu-sprite.pokemon163{background-position:-810px -120px}
.menu-sprite.pokemon164{background-position:-840px -120px}
.menu-sprite.pokemon165{background-position:-870px -120px}
.menu-sprite.pokemon166{background-position:0 -150px}
.menu-sprite.pokemon167{background-position:-30px -150px}
.menu-sprite.pokemon168{background-position:-60px -150px}
.menu-sprite.pokemon169{background-position:-90px -150px}
.menu-sprite.pokemon170{background-position:-120px -150px}
.menu-sprite.pokemon171{background-position:-150px -150px}
.menu-sprite.pokemon172{background-position:-550px -120px}
.menu-sprite.pokemon173{background-position:-180px -150px}
.menu-sprite.pokemon174{background-position:-210px -150px}
.menu-sprite.pokemon175{background-position:-240px -150px}
.menu-sprite.pokemon176{background-position:-270px -150px}
.menu-sprite.pokemon177{background-position:-300px -150px}
.menu-sprite.pokemon178{background-position:-330px -150px}
.menu-sprite.pokemon179{background-position:-360px -150px}
.menu-sprite.pokemon180{background-position:-390px -150px}
.menu-sprite.pokemon181{background-position:-450px -150px}
.menu-sprite.pokemon182{background-position:-480px -150px}
.menu-sprite.pokemon183{background-position:-420px -150px}
.menu-sprite.pokemon184{background-position:-510px -150px}
.menu-sprite.pokemon185{background-position:-540px -150px}
.menu-sprite.pokemon186{background-position:-570px -150px}
.menu-sprite.pokemon187{background-position:-600px -150px}
.menu-sprite.pokemon188{background-position:-630px -150px}
.menu-sprite.pokemon189{background-position:-660px -150px}
.menu-sprite.pokemon190{background-position:-690px -150px}
.menu-sprite.pokemon191{background-position:-720px -150px}
.menu-sprite.pokemon192{background-position:-750px -150px}
.menu-sprite.pokemon193{background-position:-590px -120px}
.menu-sprite.pokemon194{background-position:-780px -150px}
.menu-sprite.pokemon195{background-position:-810px -150px}
.menu-sprite.pokemon196{background-position:-840px -150px}
.menu-sprite.pokemon197{background-position:-870px -150px}
.menu-sprite.pokemon198{background-position:0 -180px}
.menu-sprite.pokemon199{background-position:-30px -180px}
.menu-sprite.pokemon200{background-position:-60px -180px}
.menu-sprite.pokemon201{background-position:-90px -180px}
.menu-sprite.pokemon202{background-position:-120px -180px}
.menu-sprite.pokemon203{background-position:-150px -180px}
.menu-sprite.pokemon204{background-position:-180px -180px}
.menu-sprite.pokemon205{background-position:-210px -180px}
.menu-sprite.pokemon206{background-position:-240px -180px}
.menu-sprite.pokemon207{background-position:-270px -180px}
.menu-sprite.pokemon208{background-position:-300px -180px}
.menu-sprite.pokemon209{background-position:-330px -180px}
.menu-sprite.pokemon210{background-position:-360px -180px}
.menu-sprite.pokemon211{background-position:-390px -180px}
.menu-sprite.pokemon212{background-position:-420px -180px}
.menu-sprite.pokemon213{background-position:-450px -180px}
.menu-sprite.pokemon214{background-position:-510px -180px}
.menu-sprite.pokemon215{background-position:-480px -180px}
.menu-sprite.pokemon216{background-position:-540px -180px}
.menu-sprite.pokemon217{background-position:-570px -180px}
.menu-sprite.pokemon218{background-position:-600px -180px}
.menu-sprite.pokemon219{background-position:-630px -180px}
.menu-sprite.pokemon220{background-position:-660px -180px}
.menu-sprite.pokemon221{background-position:-690px -180px}
.menu-sprite.pokemon222{background-position:-720px -180px}
.menu-sprite.pokemon223{background-position:-750px -180px}
.menu-sprite.pokemon224{background-position:-780px -180px}
.menu-sprite.pokemon225{background-position:-810px -180px}
.menu-sprite.pokemon226{background-position:-840px -180px}
.menu-sprite.pokemon227{background-position:-870px -180px}
.menu-sprite.pokemon228{background-position:0 -210px}
.menu-sprite.pokemon229{background-position:-30px -210px}
.menu-sprite.pokemon230{background-position:-60px -210px}
.menu-sprite.pokemon231{background-position:-90px -210px}
.menu-sprite.pokemon232{background-position:-120px -210px}
.menu-sprite.pokemon233{background-position:-150px -210px}
.menu-sprite.pokemon234{background-position:-180px -210px}
.menu-sprite.pokemon235{background-position:-240px -210px}
.menu-sprite.pokemon236{background-position:-270px -210px}
.menu-sprite.pokemon237{background-position:-300px -210px}
.menu-sprite.pokemon238{background-position:-330px -210px}
.menu-sprite.pokemon239{background-position:-360px -210px}
.menu-sprite.pokemon240{background-position:-390px -210px}
.menu-sprite.pokemon241{background-position:-710px -780px}
.menu-sprite.pokemon242{background-position:-420px -210px}
.menu-sprite.pokemon243{background-position:-540px -210px}
.menu-sprite.pokemon244{background-position:-570px -210px}
.menu-sprite.pokemon245{background-position:-600px -210px}
.menu-sprite.pokemon246{background-position:-660px -210px}
.menu-sprite.pokemon247{background-position:-630px -210px}
.menu-sprite.pokemon248{background-position:-690px -210px}
.menu-sprite.pokemon249{background-position:-460px -210px}
.menu-sprite.pokemon250{background-position:-720px -210px}
.menu-sprite.pokemon251{background-position:-750px -210px}
.menu-sprite.pokemon252{background-position:-780px -210px}
.menu-sprite.pokemon253{background-position:-810px -210px}
.menu-sprite.pokemon254{background-position:-840px -210px}
.menu-sprite.pokemon255{background-position:-870px -210px}
.menu-sprite.pokemon256{background-position:0 -240px}
.menu-sprite.pokemon257{background-position:-30px -240px}
.menu-sprite.pokemon258{background-position:-60px -240px}
.menu-sprite.pokemon259{background-position:-90px -240px}
.menu-sprite.pokemon260{background-position:-120px -240px}
.menu-sprite.pokemon261{background-position:-150px -240px}
.menu-sprite.pokemon262{background-position:-180px -240px}
.menu-sprite.pokemon263{background-position:-210px -240px}
.menu-sprite.pokemon264{background-position:-240px -240px}
.menu-sprite.pokemon265{background-position:-300px -240px}
.menu-sprite.pokemon266{background-position:-270px -240px}
.menu-sprite.pokemon267{background-position:-330px -240px}
.menu-sprite.pokemon268{background-position:-360px -240px}
.menu-sprite.pokemon269{background-position:-390px -240px}
.menu-sprite.pokemon270{background-position:-420px -240px}
.menu-sprite.pokemon271{background-position:-450px -240px}
.menu-sprite.pokemon272{background-position:-480px -240px}
.menu-sprite.pokemon273{background-position:-510px -240px}
.menu-sprite.pokemon274{background-position:-540px -240px}
.menu-sprite.pokemon275{background-position:-570px -240px}
.menu-sprite.pokemon276{background-position:-600px -240px}
.menu-sprite.pokemon277{background-position:-630px -240px}
.menu-sprite.pokemon278{background-position:-660px -240px}
.menu-sprite.pokemon279{background-position:-690px -240px}
.menu-sprite.pokemon280{background-position:-720px -240px}
.menu-sprite.pokemon281{background-position:-750px -240px}
.menu-sprite.pokemon282{background-position:-780px -240px}
.menu-sprite.pokemon283{background-position:-810px -240px}
.menu-sprite.pokemon284{background-position:-840px -240px}
.menu-sprite.pokemon285{background-position:0 -270px}
.menu-sprite.pokemon286{background-position:-870px -240px}
.menu-sprite.pokemon287{background-position:-500px -210px}
.menu-sprite.pokemon288{background-position:-30px -270px}
.menu-sprite.pokemon289{background-position:-60px -270px}
.menu-sprite.pokemon290{background-position:-90px -270px}
.menu-sprite.pokemon291{background-position:-120px -270px}
.menu-sprite.pokemon292{background-position:-630px -810px}
.menu-sprite.pokemon293{background-position:-150px -270px}
.menu-sprite.pokemon294{background-position:-180px -270px}
.menu-sprite.pokemon295{background-position:-210px -270px}
.menu-sprite.pokemon296{background-position:-270px -270px}
.menu-sprite.pokemon297{background-position:-240px -270px}
.menu-sprite.pokemon298{background-position:-390px -270px}
.menu-sprite.pokemon299{background-position:-420px -270px}
.menu-sprite.pokemon300{background-position:-670px -810px}
.menu-sprite.pokemon301{background-position:-450px -270px}
.menu-sprite.pokemon302{background-position:-480px -270px}
.menu-sprite.pokemon303{background-position:-510px -270px}
.menu-sprite.pokemon304{background-position:-540px -270px}
.menu-sprite.pokemon305{background-position:-570px -270px}
.menu-sprite.pokemon306{background-position:-600px -270px}
.menu-sprite.pokemon307{background-position:-630px -270px}
.menu-sprite.pokemon308{background-position:-660px -270px}
.menu-sprite.pokemon309{background-position:-690px -270px}
.menu-sprite.pokemon310{background-position:-720px -270px}
.menu-sprite.pokemon311{background-position:-750px -270px}
.menu-sprite.pokemon312{background-position:-780px -270px}
.menu-sprite.pokemon313{background-position:-810px -270px}
.menu-sprite.pokemon314{background-position:-840px -270px}
.menu-sprite.pokemon315{background-position:-870px -270px}
.menu-sprite.pokemon316{background-position:-40px -870px}
.menu-sprite.pokemon317{background-position:-30px -300px}
.menu-sprite.pokemon318{background-position:-60px -300px}
.menu-sprite.pokemon319{background-position:-90px -300px}
.menu-sprite.pokemon320{background-position:-120px -300px}
.menu-sprite.pokemon321{background-position:-150px -300px}
.menu-sprite.pokemon322{background-position:-180px -300px}
.menu-sprite.pokemon323{background-position:-240px -300px}
.menu-sprite.pokemon324{background-position:-210px -300px}
.menu-sprite.pokemon325{background-position:-270px -300px}
.menu-sprite.pokemon326{background-position:-300px -300px}
.menu-sprite.pokemon327{background-position:-330px -300px}
.menu-sprite.pokemon328{background-position:-360px -300px}
.menu-sprite.pokemon329{background-position:-390px -300px}
.menu-sprite.pokemon330{background-position:-420px -300px}
.menu-sprite.pokemon331{background-position:-450px -300px}
.menu-sprite.pokemon332{background-position:-480px -300px}
.menu-sprite.pokemon333{background-position:-510px -300px}
.menu-sprite.pokemon334{background-position:-540px -300px}
.menu-sprite.pokemon335{background-position:-570px -300px}
.menu-sprite.pokemon336{background-position:-600px -300px}
.menu-sprite.pokemon337{background-position:-630px -300px}
.menu-sprite.pokemon338{background-position:-660px -300px}
.menu-sprite.pokemon339{background-position:-690px -300px}
.menu-sprite.pokemon340{background-position:-720px -300px}
.menu-sprite.pokemon341{background-position:-750px -300px}
.menu-sprite.pokemon342{background-position:-780px -300px}
.menu-sprite.pokemon343{background-position:-810px -300px}
.menu-sprite.pokemon344{background-position:-480px -840px}
.menu-sprite.pokemon345{background-position:-840px -300px}
.menu-sprite.pokemon346{background-position:0 -330px}
.menu-sprite.pokemon347{background-position:-870px -300px}
.menu-sprite.pokemon348{background-position:-30px -330px}
.menu-sprite.pokemon349{background-position:-60px -330px}
.menu-sprite.pokemon350{background-position:-310px -270px}
.menu-sprite.pokemon351{background-position:-90px -330px}
.menu-sprite.pokemon352{background-position:-120px -330px}
.menu-sprite.pokemon353{background-position:-180px -330px}
.menu-sprite.pokemon354{background-position:-150px -330px}
.menu-sprite.pokemon355{background-position:-210px -330px}
.menu-sprite.pokemon356{background-position:-270px -330px}
.menu-sprite.pokemon357{background-position:-240px -330px}
.menu-sprite.pokemon358{background-position:-300px -330px}
.menu-sprite.pokemon359{background-position:-330px -330px}
.menu-sprite.pokemon360{background-position:-360px -330px}
.menu-sprite.pokemon361{background-position:-390px -330px}
.menu-sprite.pokemon362{background-position:-420px -330px}
.menu-sprite.pokemon363{background-position:-450px -330px}
.menu-sprite.pokemon364{background-position:-480px -330px}
.menu-sprite.pokemon365{background-position:-510px -330px}
.menu-sprite.pokemon366{background-position:-510px -840px}
.menu-sprite.pokemon367{background-position:-540px -330px}
.menu-sprite.pokemon368{background-position:-570px -330px}
.menu-sprite.pokemon369{background-position:-600px -330px}
.menu-sprite.pokemon370{background-position:-630px -330px}
.menu-sprite.pokemon371{background-position:-540px -840px}
.menu-sprite.pokemon372{background-position:-660px -330px}
.menu-sprite.pokemon373{background-position:-690px -330px}
.menu-sprite.pokemon374{background-position:-720px -330px}
.menu-sprite.pokemon375{background-position:-750px -330px}
.menu-sprite.pokemon376{background-position:-780px -330px}
.menu-sprite.pokemon377{background-position:-810px -330px}
.menu-sprite.pokemon378{background-position:-840px -330px}
.menu-sprite.pokemon379{background-position:-870px -330px}
.menu-sprite.pokemon380{background-position:0 -360px}
.menu-sprite.pokemon381{background-position:-30px -360px}
.menu-sprite.pokemon382{background-position:-60px -360px}
.menu-sprite.pokemon383{background-position:-580px -840px}
.menu-sprite.pokemon384{background-position:-90px -360px}
.menu-sprite.pokemon385{background-position:-120px -360px}
.menu-sprite.pokemon386{background-position:-150px -360px}
.menu-sprite.pokemon387{background-position:-180px -360px}
.menu-sprite.pokemon388{background-position:-210px -360px}
.menu-sprite.pokemon389{background-position:-240px -360px}
.menu-sprite.pokemon390{background-position:-270px -360px}
.menu-sprite.pokemon391{background-position:-300px -360px}
.menu-sprite.pokemon392{background-position:-330px -360px}
.menu-sprite.pokemon393{background-position:-360px -360px}
.menu-sprite.pokemon394{background-position:-390px -360px}
.menu-sprite.pokemon395{background-position:-420px -360px}
.menu-sprite.pokemon396{background-position:-450px -360px}
.menu-sprite.pokemon397{background-position:-480px -360px}
.menu-sprite.pokemon398{background-position:-510px -360px}
.menu-sprite.pokemon399{background-position:-540px -360px}
.menu-sprite.pokemon400{background-position:-570px -360px}
.menu-sprite.pokemon401{background-position:-600px -360px}
.menu-sprite.pokemon402{background-position:-720px -360px}
.menu-sprite.pokemon403{background-position:-750px -360px}
.menu-sprite.pokemon404{background-position:-810px -360px}
.menu-sprite.pokemon405{background-position:-780px -360px}
.menu-sprite.pokemon406{background-position:-840px -360px}
.menu-sprite.pokemon407{background-position:-870px -360px}
.menu-sprite.pokemon408{background-position:-350px -270px}
.menu-sprite.pokemon409{background-position:0 -390px}
.menu-sprite.pokemon410{background-position:-60px -390px}
.menu-sprite.pokemon411{background-position:-30px -390px}
.menu-sprite.pokemon412{background-position:-90px -390px}
.menu-sprite.pokemon413{background-position:-120px -390px}
.menu-sprite.pokemon414{background-position:-750px -810px}
.menu-sprite.pokemon415{background-position:-150px -390px}
.menu-sprite.pokemon416{background-position:-180px -390px}
.menu-sprite.pokemon417{background-position:-210px -390px}
.menu-sprite.pokemon418{background-position:-240px -390px}
.menu-sprite.pokemon419{background-position:-270px -390px}
.menu-sprite.pokemon420{background-position:-300px -390px}
.menu-sprite.pokemon421{background-position:-330px -390px}
.menu-sprite.pokemon422{background-position:-360px -390px}
.menu-sprite.pokemon423{background-position:-390px -390px}
.menu-sprite.pokemon424{background-position:-420px -390px}
.menu-sprite.pokemon425{background-position:-450px -390px}
.menu-sprite.pokemon426{background-position:-610px -840px}
.menu-sprite.pokemon427{background-position:-480px -390px}
.menu-sprite.pokemon428{background-position:-520px -390px}
.menu-sprite.pokemon429{background-position:-550px -390px}
.menu-sprite.pokemon430{background-position:-710px -810px}
.menu-sprite.pokemon431{background-position:-580px -390px}
.menu-sprite.pokemon432{background-position:-620px -390px}
.menu-sprite.pokemon433{background-position:-650px -390px}
.menu-sprite.pokemon434{background-position:-680px -390px}
.menu-sprite.pokemon435{background-position:-780px -810px}
.menu-sprite.pokemon436{background-position:-710px -390px}
.menu-sprite.pokemon437{background-position:-820px -810px}
.menu-sprite.pokemon438{background-position:-740px -390px}
.menu-sprite.pokemon439{background-position:-650px -840px}
.menu-sprite.pokemon440{background-position:-770px -390px}
.menu-sprite.pokemon441{background-position:-690px -840px}
.menu-sprite.pokemon442{background-position:0 -420px}
.menu-sprite.pokemon443{background-position:-730px -840px}
.menu-sprite.pokemon444{background-position:-40px -420px}
.menu-sprite.pokemon445{background-position:-810px -390px}
.menu-sprite.pokemon446{background-position:-870px -390px}
.menu-sprite.pokemon447{background-position:-120px -420px}
.menu-sprite.pokemon448{background-position:-150px -420px}
.menu-sprite.pokemon449{background-position:-840px -390px}

.menu-sprite.pokemon450{background-position:-180px -420px}
.menu-sprite.pokemon451{background-position:-210px -420px}
.menu-sprite.pokemon452{background-position:-240px -420px}
.menu-sprite.pokemon453{background-position:-270px -420px}
.menu-sprite.pokemon454{background-position:-300px -420px}
.menu-sprite.pokemon455{background-position:-330px -420px}
.menu-sprite.pokemon456{background-position:-360px -420px}
.menu-sprite.pokemon457{background-position:-390px -420px}
.menu-sprite.pokemon458{background-position:-420px -420px}
.menu-sprite.pokemon459{background-position:-450px -420px}
.menu-sprite.pokemon460{background-position:-480px -420px}
.menu-sprite.pokemon461{background-position:-510px -420px}
.menu-sprite.pokemon462{background-position:-540px -420px}
.menu-sprite.pokemon463{background-position:-570px -420px}
.menu-sprite.pokemon464{background-position:-600px -420px}
.menu-sprite.pokemon465{background-position:-630px -420px}
.menu-sprite.pokemon466{background-position:-660px -420px}
.menu-sprite.pokemon467{background-position:-690px -420px}
.menu-sprite.pokemon468{background-position:-720px -420px}
.menu-sprite.pokemon469{background-position:-750px -420px}
.menu-sprite.pokemon470{background-position:-780px -420px}
.menu-sprite.pokemon471{background-position:-810px -420px}
.menu-sprite.pokemon472{background-position:-840px -420px}
.menu-sprite.pokemon473{background-position:-870px -420px}
.menu-sprite.pokemon474{background-position:0 -450px}
.menu-sprite.pokemon475{background-position:-60px -450px}
.menu-sprite.pokemon476{background-position:-90px -450px}
.menu-sprite.pokemon477{background-position:-30px -450px}
.menu-sprite.pokemon478{background-position:-150px -450px}
.menu-sprite.pokemon479{background-position:-180px -450px}
.menu-sprite.pokemon480{background-position:-120px -450px}
.menu-sprite.pokemon481{background-position:-210px -450px}
.menu-sprite.pokemon482{background-position:-240px -450px}
.menu-sprite.pokemon483{background-position:-270px -450px}
.menu-sprite.pokemon484{background-position:-300px -450px}
.menu-sprite.pokemon485{background-position:-330px -450px}
.menu-sprite.pokemon486{background-position:-360px -450px}
.menu-sprite.pokemon487{background-position:-390px -450px}
.menu-sprite.pokemon488{background-position:-420px -450px}
.menu-sprite.pokemon489{background-position:-450px -450px}
.menu-sprite.pokemon490{background-position:-510px -450px}
.menu-sprite.pokemon491{background-position:-480px -450px}
.menu-sprite.pokemon492{background-position:-570px -450px}
.menu-sprite.pokemon493{background-position:-540px -450px}
.menu-sprite.pokemon494{background-position:-600px -450px}
.menu-sprite.pokemon495{background-position:-630px -450px}
.menu-sprite.pokemon496{background-position:-660px -450px}
.menu-sprite.pokemon497{background-position:-690px -450px}
.menu-sprite.pokemon498{background-position:-770px -840px}
.menu-sprite.pokemon499{background-position:-720px -450px}
.menu-sprite.pokemon500{background-position:-750px -450px}
.menu-sprite.pokemon501{background-position:-780px -450px}
.menu-sprite.pokemon502{background-position:-810px -450px}
.menu-sprite.pokemon503{background-position:-840px -450px}
.menu-sprite.pokemon504{background-position:-870px -450px}
.menu-sprite.pokemon505{background-position:0 -480px}
.menu-sprite.pokemon506{background-position:-30px -480px}
.menu-sprite.pokemon507{background-position:-60px -480px}
.menu-sprite.pokemon508{background-position:-90px -480px}
.menu-sprite.pokemon509{background-position:-120px -480px}
.menu-sprite.pokemon510{background-position:-150px -480px}
.menu-sprite.pokemon511{background-position:-180px -480px}
.menu-sprite.pokemon512{background-position:-210px -480px}
.menu-sprite.pokemon513{background-position:-240px -480px}
.menu-sprite.pokemon514{background-position:-270px -480px}
.menu-sprite.pokemon515{background-position:-300px -480px}
.menu-sprite.pokemon516{background-position:-360px -480px}
.menu-sprite.pokemon517{background-position:-330px -480px}
.menu-sprite.pokemon518{background-position:-390px -480px}
.menu-sprite.pokemon519{background-position:-420px -480px}
.menu-sprite.pokemon520{background-position:-480px -480px}
.menu-sprite.pokemon521{background-position:-450px -480px}
.menu-sprite.pokemon522{background-position:-510px -480px}
.menu-sprite.pokemon523{background-position:-540px -480px}
.menu-sprite.pokemon524{background-position:-570px -480px}
.menu-sprite.pokemon525{background-position:-600px -480px}
.menu-sprite.pokemon526{background-position:-630px -480px}
.menu-sprite.pokemon527{background-position:-660px -480px}
.menu-sprite.pokemon528{background-position:-690px -480px}
.menu-sprite.pokemon529{background-position:-720px -480px}
.menu-sprite.pokemon530{background-position:-750px -480px}
.menu-sprite.pokemon531{background-position:-780px -480px}
.menu-sprite.pokemon532{background-position:-810px -480px}
.menu-sprite.pokemon533{background-position:-870px -480px}
.menu-sprite.pokemon534{background-position:-840px -480px}
.menu-sprite.pokemon535{background-position:0 -510px}
.menu-sprite.pokemon536{background-position:-30px -510px}
.menu-sprite.pokemon537{background-position:-60px -510px}
.menu-sprite.pokemon538{background-position:-90px -510px}
.menu-sprite.pokemon539{background-position:-120px -510px}
.menu-sprite.pokemon540{background-position:-150px -510px}
.menu-sprite.pokemon541{background-position:-180px -510px}
.menu-sprite.pokemon542{background-position:-210px -510px}
.menu-sprite.pokemon543{background-position:-240px -510px}
.menu-sprite.pokemon544{background-position:-270px -510px}
.menu-sprite.pokemon545{background-position:-300px -510px}
.menu-sprite.pokemon546{background-position:-80px -420px}
.menu-sprite.pokemon547{background-position:-330px -510px}
.menu-sprite.pokemon548{background-position:-360px -510px}
.menu-sprite.pokemon549{background-position:-810px -840px}
.menu-sprite.pokemon550{background-position:-390px -510px}
.menu-sprite.pokemon551{background-position:-420px -510px}
.menu-sprite.pokemon552{background-position:-450px -510px}
.menu-sprite.pokemon553{background-position:-480px -510px}
.menu-sprite.pokemon554{background-position:-630px -510px}
.menu-sprite.pokemon555{background-position:-600px -510px}
.menu-sprite.pokemon556{background-position:-540px -510px}
.menu-sprite.pokemon557{background-position:-570px -510px}
.menu-sprite.pokemon558{background-position:-660px -510px}
.menu-sprite.pokemon559{background-position:-510px -510px}
.menu-sprite.pokemon560{background-position:-690px -510px}
.menu-sprite.pokemon561{background-position:-720px -510px}
.menu-sprite.pokemon562{background-position:-750px -510px}
.menu-sprite.pokemon563{background-position:-780px -510px}
.menu-sprite.pokemon564{background-position:-810px -510px}
.menu-sprite.pokemon565{background-position:0 -540px}
.menu-sprite.pokemon566{background-position:-40px -540px}
.menu-sprite.pokemon567{background-position:-840px -510px}
.menu-sprite.pokemon568{background-position:-870px -510px}
.menu-sprite.pokemon569{background-position:-120px -540px}
.menu-sprite.pokemon570{background-position:-150px -540px}
.menu-sprite.pokemon571{background-position:-180px -540px}
.menu-sprite.pokemon572{background-position:-80px -540px}
.menu-sprite.pokemon573{background-position:-240px -540px}
.menu-sprite.pokemon574{background-position:-210px -540px}
.menu-sprite.pokemon575{background-position:-270px -540px}
.menu-sprite.pokemon576{background-position:-300px -540px}
.menu-sprite.pokemon577{background-position:-330px -540px}
.menu-sprite.pokemon578{background-position:-360px -540px}
.menu-sprite.pokemon579{background-position:-390px -540px}
.menu-sprite.pokemon580{background-position:-420px -540px}
.menu-sprite.pokemon581{background-position:-450px -540px}
.menu-sprite.pokemon582{background-position:-480px -540px}
.menu-sprite.pokemon583{background-position:-510px -540px}
.menu-sprite.pokemon584{background-position:-540px -540px}
.menu-sprite.pokemon585{background-position:-570px -540px}
.menu-sprite.pokemon586{background-position:-690px -540px}
.menu-sprite.pokemon587{background-position:-720px -540px}
.menu-sprite.pokemon588{background-position:-750px -540px}
.menu-sprite.pokemon589{background-position:-780px -540px}
.menu-sprite.pokemon590{background-position:-810px -540px}
.menu-sprite.pokemon591{background-position:-840px -540px}
.menu-sprite.pokemon592{background-position:-870px -540px}
.menu-sprite.pokemon593{background-position:0 -570px}
.menu-sprite.pokemon594{background-position:-30px -570px}
.menu-sprite.pokemon595{background-position:-60px -570px}
.menu-sprite.pokemon596{background-position:-90px -570px}
.menu-sprite.pokemon597{background-position:-120px -570px}
.menu-sprite.pokemon598{background-position:-150px -570px}
.menu-sprite.pokemon599{background-position:-180px -570px}
.menu-sprite.pokemon600{background-position:-210px -570px}
.menu-sprite.pokemon601{background-position:-240px -570px}
.menu-sprite.pokemon602{background-position:-270px -570px}
.menu-sprite.pokemon603{background-position:-330px -570px}
.menu-sprite.pokemon604{background-position:-300px -570px}
.menu-sprite.pokemon605{background-position:-360px -570px}
.menu-sprite.pokemon606{background-position:-390px -570px}
.menu-sprite.pokemon607{background-position:-420px -570px}
.menu-sprite.pokemon608{background-position:-450px -570px}
.menu-sprite.pokemon609{background-position:-480px -570px}
.menu-sprite.pokemon610{background-position:-510px -570px}
.menu-sprite.pokemon611{background-position:-540px -570px}
.menu-sprite.pokemon612{background-position:-570px -570px}
.menu-sprite.pokemon613{background-position:-600px -570px}
.menu-sprite.pokemon614{background-position:-840px -840px}
.menu-sprite.pokemon615{background-position:-630px -570px}
.menu-sprite.pokemon616{background-position:-660px -570px}
.menu-sprite.pokemon617{background-position:-690px -570px}
.menu-sprite.pokemon618{background-position:-610px -540px}
.menu-sprite.pokemon619{background-position:-720px -570px}
.menu-sprite.pokemon620{background-position:-750px -570px}
.menu-sprite.pokemon621{background-position:-780px -570px}
.menu-sprite.pokemon622{background-position:-810px -570px}
.menu-sprite.pokemon623{background-position:-840px -570px}
.menu-sprite.pokemon624{background-position:-870px -570px}
.menu-sprite.pokemon625{background-position:0 -600px}
.menu-sprite.pokemon626{background-position:-30px -600px}
.menu-sprite.pokemon627{background-position:-60px -600px}
.menu-sprite.pokemon628{background-position:-90px -600px}
.menu-sprite.pokemon629{background-position:-120px -600px}
.menu-sprite.pokemon630{background-position:-150px -600px}
.menu-sprite.pokemon631{background-position:-180px -600px}
.menu-sprite.pokemon632{background-position:-210px -600px}
.menu-sprite.pokemon633{background-position:-240px -600px}
.menu-sprite.pokemon634{background-position:-300px -600px}
.menu-sprite.pokemon635{background-position:-270px -600px}
.menu-sprite.pokemon636{background-position:-330px -600px}
.menu-sprite.pokemon637{background-position:-360px -600px}
.menu-sprite.pokemon638{background-position:-390px -600px}
.menu-sprite.pokemon639{background-position:-420px -600px}
.menu-sprite.pokemon640{background-position:-450px -600px}
.menu-sprite.pokemon641{background-position:-510px -600px}
.menu-sprite.pokemon642{background-position:-540px -600px}
.menu-sprite.pokemon643{background-position:-570px -600px}
.menu-sprite.pokemon644{background-position:-600px -600px}
.menu-sprite.pokemon645{background-position:-630px -600px}
.menu-sprite.pokemon646{background-position:-660px -600px}
.menu-sprite.pokemon647{background-position:-690px -600px}
.menu-sprite.pokemon648{background-position:-720px -600px}
.menu-sprite.pokemon649{background-position:-750px -600px}
.menu-sprite.pokemon650{background-position:-780px -600px}
.menu-sprite.pokemon651{background-position:-810px -600px}
.menu-sprite.pokemon652{background-position:-840px -600px}
.menu-sprite.pokemon653{background-position:-870px -600px}
.menu-sprite.pokemon654{background-position:0 -630px}
.menu-sprite.pokemon655{background-position:-30px -630px}
.menu-sprite.pokemon656{background-position:-60px -630px}
.menu-sprite.pokemon657{background-position:-90px -630px}
.menu-sprite.pokemon658{background-position:-120px -630px}
.menu-sprite.pokemon659{background-position:-150px -630px}
.menu-sprite.pokemon660{background-position:-180px -630px}
.menu-sprite.pokemon661{background-position:-210px -630px}
.menu-sprite.pokemon662{background-position:-240px -630px}
.menu-sprite.pokemon663{background-position:-270px -630px}
.menu-sprite.pokemon664{background-position:-300px -630px}
.menu-sprite.pokemon665{background-position:-330px -630px}
.menu-sprite.pokemon666{background-position:-360px -630px}
.menu-sprite.pokemon667{background-position:-390px -630px}
.menu-sprite.pokemon668{background-position:-420px -630px}
.menu-sprite.pokemon669{background-position:-450px -630px}
.menu-sprite.pokemon670{background-position:-540px -630px}
.menu-sprite.pokemon671{background-position:-510px -630px}
.menu-sprite.pokemon672{background-position:-570px -630px}
.menu-sprite.pokemon673{background-position:-480px -630px}
.menu-sprite.pokemon674{background-position:-660px -630px}
.menu-sprite.pokemon675{background-position:-630px -630px}
.menu-sprite.pokemon676{background-position:-690px -630px}
.menu-sprite.pokemon677{background-position:-600px -630px}
.menu-sprite.pokemon678{background-position:-720px -630px}
.menu-sprite.pokemon679{background-position:-750px -630px}
.menu-sprite.pokemon680{background-position:-780px -630px}
.menu-sprite.pokemon681{background-position:-810px -630px}
.menu-sprite.pokemon682{background-position:-840px -630px}
.menu-sprite.pokemon683{background-position:0 -660px}
.menu-sprite.pokemon684{background-position:-870px -630px}
.menu-sprite.pokemon685{background-position:-60px -660px}
.menu-sprite.pokemon686{background-position:-30px -660px}
.menu-sprite.pokemon687{background-position:-90px -660px}
.menu-sprite.pokemon688{background-position:-120px -660px}
.menu-sprite.pokemon689{background-position:-150px -660px}
.menu-sprite.pokemon690{background-position:-180px -660px}
.menu-sprite.pokemon691{background-position:-210px -660px}
.menu-sprite.pokemon692{background-position:-240px -660px}
.menu-sprite.pokemon693{background-position:-270px -660px}
.menu-sprite.pokemon694{background-position:-300px -660px}
.menu-sprite.pokemon695{background-position:-330px -660px}
.menu-sprite.pokemon696{background-position:-360px -660px}
.menu-sprite.pokemon697{background-position:-390px -660px}
.menu-sprite.pokemon698{background-position:-420px -660px}
.menu-sprite.pokemon699{background-position:-450px -660px}
.menu-sprite.pokemon700{background-position:-480px -660px}
.menu-sprite.pokemon701{background-position:-510px -660px}
.menu-sprite.pokemon702{background-position:-540px -660px}
.menu-sprite.pokemon703{background-position:-570px -660px}
.menu-sprite.pokemon704{background-position:-600px -660px}
.menu-sprite.pokemon705{background-position:-630px -660px}
.menu-sprite.pokemon706{background-position:-660px -660px}
.menu-sprite.pokemon707{background-position:-690px -660px}
.menu-sprite.pokemon708{background-position:-720px -660px}
.menu-sprite.pokemon709{background-position:-750px -660px}
.menu-sprite.pokemon710{background-position:-780px -660px}
.menu-sprite.pokemon711{background-position:-810px -660px}
.menu-sprite.pokemon712{background-position:-840px -660px}
.menu-sprite.pokemon713{background-position:-870px -660px}
.menu-sprite.pokemon714{background-position:0 -690px}
.menu-sprite.pokemon715{background-position:-30px -690px}
.menu-sprite.pokemon716{background-position:-60px -690px}
.menu-sprite.pokemon717{background-position:-90px -690px}
.menu-sprite.pokemon718{background-position:-120px -690px}
.menu-sprite.pokemon719{background-position:-150px -690px}
.menu-sprite.pokemon720{background-position:-180px -690px}
.menu-sprite.pokemon721{background-position:-210px -690px}
.menu-sprite.pokemon722{background-position:-240px -690px}
.menu-sprite.pokemon723{background-position:-270px -690px}
.menu-sprite.pokemon724{background-position:-300px -690px}
.menu-sprite.pokemon725{background-position:-330px -690px}
.menu-sprite.pokemon726{background-position:-360px -690px}
.menu-sprite.pokemon727{background-position:-390px -690px}
.menu-sprite.pokemon728{background-position:-420px -690px}
.menu-sprite.pokemon729{background-position:-450px -690px}
.menu-sprite.pokemon730{background-position:-480px -690px}
.menu-sprite.pokemon731{background-position:-510px -690px}
.menu-sprite.pokemon732{background-position:-540px -690px}
.menu-sprite.pokemon733{background-position:-570px -690px}
.menu-sprite.pokemon734{background-position:-630px -690px}
.menu-sprite.pokemon735{background-position:-600px -690px}
.menu-sprite.pokemon736{background-position:-660px -690px}
.menu-sprite.pokemon737{background-position:-650px -540px}
.menu-sprite.pokemon738{background-position:-700px -690px}
.menu-sprite.pokemon739{background-position:-740px -690px}
.menu-sprite.pokemon740{background-position:-810px -690px}
.menu-sprite.pokemon741{background-position:-770px -690px}
.menu-sprite.pokemon742{background-position:-40px -720px}
.menu-sprite.pokemon743{background-position:-80px -720px}
.menu-sprite.pokemon744{background-position:0 -720px}
.menu-sprite.pokemon745{background-position:-870px -690px}
.menu-sprite.pokemon746{background-position:-840px -690px}
.menu-sprite.pokemon747{background-position:-150px -720px}
.menu-sprite.pokemon748{background-position:-120px -720px}
.menu-sprite.pokemon749{background-position:-180px -720px}
.menu-sprite.pokemon750{background-position:-210px -720px}
.menu-sprite.pokemon751{background-position:-240px -720px}
.menu-sprite.pokemon752{background-position:-270px -720px}
.menu-sprite.pokemon753{background-position:-300px -720px}
.menu-sprite.pokemon754{background-position:-330px -720px}
.menu-sprite.pokemon755{background-position:-360px -720px}
.menu-sprite.pokemon756{background-position:-390px -720px}
.menu-sprite.pokemon757{background-position:-420px -720px}
.menu-sprite.pokemon758{background-position:-200px -870px}
.menu-sprite.pokemon759{background-position:-450px -720px}
.menu-sprite.pokemon760{background-position:-480px -720px}
.menu-sprite.pokemon761{background-position:-510px -720px}
.menu-sprite.pokemon762{background-position:-540px -720px}
.menu-sprite.pokemon763{background-position:-570px -720px}
.menu-sprite.pokemon764{background-position:-600px -720px}
.menu-sprite.pokemon765{background-position:-630px -720px}
.menu-sprite.pokemon766{background-position:-660px -720px}
.menu-sprite.pokemon767{background-position:-690px -720px}
.menu-sprite.pokemon768{background-position:-390px -750px}
.menu-sprite.pokemon769{background-position:-450px -750px}
.menu-sprite.pokemon770{background-position:-420px -750px}
.menu-sprite.pokemon771{background-position:-570px -750px}
.menu-sprite.pokemon772{background-position:-600px -750px}
.menu-sprite.pokemon773{background-position:-630px -750px}
.menu-sprite.pokemon774{background-position:-660px -750px}
.menu-sprite.pokemon775{background-position:-690px -750px}
.menu-sprite.pokemon776{background-position:-720px -750px}
.menu-sprite.pokemon777{background-position:-750px -750px}
.menu-sprite.pokemon778{background-position:-780px -750px}
.menu-sprite.pokemon779{background-position:-180px -780px}
.menu-sprite.pokemon780{background-position:-240px -780px}
.menu-sprite.pokemon781{background-position:-210px -780px}
.menu-sprite.pokemon782{background-position:-270px -780px}
.menu-sprite.pokemon783{background-position:-490px -750px}
.menu-sprite.pokemon784{background-position:-530px -750px}
.menu-sprite.pokemon785{background-position:-300px -780px}
.menu-sprite.pokemon786{background-position:-330px -780px}
.menu-sprite.pokemon787{background-position:-360px -780px}
.menu-sprite.pokemon788{background-position:-390px -780px}
.menu-sprite.pokemon789{background-position:-420px -780px}
.menu-sprite.pokemon790{background-position:-450px -780px}
.menu-sprite.pokemon791{background-position:-480px -780px}
.menu-sprite.pokemon792{background-position:-510px -780px}
.menu-sprite.pokemon793{background-position:-540px -780px}
.menu-sprite.pokemon794{background-position:-570px -780px}
.menu-sprite.pokemon795{background-position:-600px -780px}
.menu-sprite.pokemon796{background-position:-640px -780px}
.menu-sprite.pokemon797{background-position:-670px -780px}
.menu-sprite.pokemon798{background-position:-750px -780px}
.menu-sprite.pokemon799{background-position:-780px -780px}
.menu-sprite.pokemon800{background-position:-810px -780px}
.menu-sprite.pokemon801{background-position:-840px -780px}
.menu-sprite.pokemon802{background-position:-870px -780px}
.menu-sprite.pokemon803{background-position:0 -810px}
.menu-sprite.pokemon804{background-position:-30px -810px}
.menu-sprite.pokemon805{background-position:-60px -810px}
.menu-sprite.pokemon806{background-position:-90px -810px}
.menu-sprite.pokemon807{background-position:-120px -810px}
.menu-sprite.pokemon808{background-position:-150px -810px}
.menu-sprite.pokemon809{background-position:-180px -810px}
.menu-sprite.pokemon810{background-position:-210px -810px}
.menu-sprite.pokemon811{background-position:-240px -810px}
.menu-sprite.pokemon812{background-position:-270px -810px}
.menu-sprite.pokemon813{background-position:-300px -810px}
.menu-sprite.pokemon814{background-position:-330px -810px}
.menu-sprite.pokemon815{background-position:-360px -810px}
.menu-sprite.pokemon816{background-position:-390px -810px}
.menu-sprite.pokemon817{background-position:-420px -810px}
.menu-sprite.pokemon818{background-position:-450px -810px}
.menu-sprite.pokemon819{background-position:-480px -810px}
.menu-sprite.pokemon820{background-position:-510px -810px}
.menu-sprite.pokemon821{background-position:-540px -810px}
.menu-sprite.pokemon822{background-position:-230px -870px}
.menu-sprite.pokemon823{background-position:-570px -810px}
.menu-sprite.pokemon824{background-position:-750px -930px}
.menu-sprite.pokemon825{background-position:-870px -840px}
.menu-sprite.pokemon826{background-position:-600px -810px}
.menu-sprite.pokemon827{background-position:0 -870px}
.menu-sprite.pokemon828{background-position:0 -840px}
.menu-sprite.pokemon829{background-position:-30px -840px}
.menu-sprite.pokemon830{background-position:-380px -870px}
.menu-sprite.pokemon831{background-position:-570px -900px}
.menu-sprite.pokemon832{background-position:-600px -900px}
.menu-sprite.pokemon833{background-position:-410px -870px}
.menu-sprite.pokemon834{background-position:-630px -900px}
.menu-sprite.pokemon835{background-position:-660px -900px}
.menu-sprite.pokemon836{background-position:-440px -870px}
.menu-sprite.pokemon837{background-position:-690px -900px}
.menu-sprite.pokemon838{background-position:-720px -900px}
.menu-sprite.pokemon839{background-position:-470px -870px}
.menu-sprite.pokemon840{background-position:-750px -900px}
.menu-sprite.pokemon841{background-position:-780px -900px}
.menu-sprite.pokemon842{background-position:-500px -870px}
.menu-sprite.pokemon843{background-position:-530px -870px}
.menu-sprite.pokemon844{background-position:-560px -870px}
.menu-sprite.pokemon845{background-position:-900px -420px}
.menu-sprite.pokemon846{background-position:-590px -870px}
.menu-sprite.pokemon847{background-position:-930px -420px}
.menu-sprite.pokemon848{background-position:-860px -870px}
.menu-sprite.pokemon849{background-position:-930px -480px}
.menu-sprite.pokemon850{background-position:-930px -450px}
.menu-sprite.pokemon851{background-position:-900px -480px}
.menu-sprite.pokemon852{background-position:-900px -450px}
.menu-sprite.pokemon853{background-position:-620px -870px}
.menu-sprite.pokemon854{background-position:-900px -510px}
.menu-sprite.pokemon855{background-position:-650px -870px}
.menu-sprite.pokemon856{background-position:-930px -510px}
.menu-sprite.pokemon857{background-position:-360px -900px}
.menu-sprite.pokemon858{background-position:-930px -600px}
.menu-sprite.pokemon859{background-position:-420px -900px}
.menu-sprite.pokemon860{background-position:-210px -930px}
.menu-sprite.pokemon861{background-position:-240px -930px}
.menu-sprite.pokemon862{background-position:-270px -930px}
.menu-sprite.pokemon863{background-position:-680px -870px}
.menu-sprite.pokemon864{background-position:-300px -930px}
.menu-sprite.pokemon865{background-position:-330px -930px}
.menu-sprite.pokemon866{background-position:-390px -900px}
.menu-sprite.pokemon867{background-position:-710px -870px}
.menu-sprite.pokemon868{background-position:-510px -900px}
.menu-sprite.pokemon869{background-position:-900px -540px}
.menu-sprite.pokemon870{background-position:-740px -870px}
.menu-sprite.pokemon871{background-position:-930px -540px}
.menu-sprite.pokemon872{background-position:-900px -570px}
.menu-sprite.pokemon873{background-position:-770px -870px}
.menu-sprite.pokemon874{background-position:-800px -870px}
.menu-sprite.pokemon875{background-position:-930px -570px}
.menu-sprite.pokemon876{background-position:-900px -600px}
.menu-sprite.pokemon877{background-position:-830px -870px}
.menu-sprite.pokemon878{background-position:-900px -630px}
.menu-sprite.pokemon879{background-position:-540px -900px}
.menu-sprite.pokemon880{background-position:0 -900px}
.menu-sprite.pokemon881{background-position:-930px -630px}
.menu-sprite.pokemon882{background-position:-450px -900px}
.menu-sprite.pokemon883{background-position:-480px -900px}
.menu-sprite.pokemon884{background-position:-900px -660px}
.menu-sprite.pokemon885{background-position:-930px -660px}
.menu-sprite.pokemon886{background-position:-900px -690px}
.menu-sprite.pokemon887{background-position:-660px -930px}
.menu-sprite.pokemon888{background-position:-930px -690px}
.menu-sprite.pokemon889{background-position:-30px -900px}
.menu-sprite.pokemon890{background-position:-900px -720px}
.menu-sprite.pokemon891{background-position:-60px -900px}
.menu-sprite.pokemon892{background-position:-90px -900px}
.menu-sprite.pokemon893{background-position:-120px -900px}
.menu-sprite.pokemon894{background-position:-150px -900px}
.menu-sprite.pokemon895{background-position:-930px -720px}
.menu-sprite.pokemon896{background-position:-300px -900px}
.menu-sprite.pokemon897{background-position:-330px -900px}
.menu-sprite.pokemon898{background-position:-900px -750px}
.menu-sprite.pokemon899{background-position:-180px -900px}
.menu-sprite.pokemon900{background-position:-930px -750px}
.menu-sprite.pokemon901{background-position:-900px -780px}
.menu-sprite.pokemon902{background-position:-930px -780px}
.menu-sprite.pokemon903{background-position:-900px -810px}
.menu-sprite.pokemon904{background-position:-930px -810px}
.menu-sprite.pokemon905{background-position:-210px -900px}
.menu-sprite.pokemon906{background-position:-900px -840px}
.menu-sprite.pokemon907{background-position:-930px -840px}
.menu-sprite.pokemon908{background-position:-900px -870px}
.menu-sprite.pokemon909{background-position:-930px -870px}
.menu-sprite.pokemon910{background-position:-150px -930px}
.menu-sprite.pokemon911{background-position:-80px -870px}
.menu-sprite.pokemon912{background-position:-120px -870px}
.menu-sprite.pokemon913{background-position:-160px -870px}
.menu-sprite.pokemon914{background-position:-180px -930px}
.menu-sprite.pokemon915{background-position:-240px -900px}
.menu-sprite.pokemon916{background-position:-480px -930px}
